footer {
	font-family: 'Lobster Two', cursive;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	// display: none;

	a {
		display: inline-block;
		float: left;
		width: 16.666666%;
		font-size: 1em;
		background-color: $slate;
		color: white;
		font-weight: bold;
		text-shadow: 1px 1px $slate-bg;
	}
	.web:hover {
		color: $slate;
		background-color: $cream;
	}
	.music:hover {
		background-color: $orange;
		color: $blue;
	}
	.biz:hover {
		background-color: $slate;
		color: $orange;
	}
	.travel:hover {
		background-color: $teal;
		color: $cream;
	}
	.musings:hover {
		background-color: $blue;
		color: $orange;
	}
	.podcast:hover {
		background-color: $cream;
		color: $blue;
	}
}