header {
	font-family: 'Lobster Two', cursive;
	height: 5em;

	h1, p, .message-wrap {
		display: inline-block;
		width: 33%;
		vertical-align: top;
		margin: 0;
	}
	h1 {
		font-style: italic;
		font-size: 2em;
		line-height: 100px;
		text-align: left;
	}
	p {
		line-height: 100px;
		text-align: center;
	}
	.message-wrap {
		text-align: right;

		h4 {
			margin: 12.5px 0;
		}
	}
}