<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
      
      <div class="icons-attr">Some icons made by <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>, <a href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
      <div class="icons-attr">
        Some images from <a href="https://imgur.com/gIptLMJ,l4lZy8S,9yHQfH0,ChpqUSL,GEGwSv7,YnQn4sN,AdwxZuq">Google Deep Dream Wallpapers</a>
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
